.protectYourIp_gradientBorder__PxN2c {
  position: relative;
  border-radius: 2.4rem;
}
.protectYourIp_gradientBorder__PxN2c: before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 2.4rem;
  padding: 1px;
  background: linear-gradient(to bottom, var(--accent-color), transparent);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
.protectYourIp_inner__PLXLm {
  border-radius: 2.4rem;
  background: transparent;
}
.protectYourIp_greenVariant___jYww {
  --accent-color: var(--mantine-color-green);
  --accent-bg-color: var(--mantine-color-green);
}
.protectYourIp_redVariant__tGSNh {
  --accent-color: #d00000;
  --accent-bg-color: #d00000;
}
.protectYourIp_yellowVariant__nRKNv {
  --accent-color: var(--mantine-color-yellow);
  --accent-bg-color: var(--mantine-color-yellow);
}
.protectYourIp_loadingVariant__sfBrd {
  --accent-color: var(--mantine-color-gray-5);
  --accent-bg-color: var(--mantine-color-gray-5);
}
.protectYourIp_contentGrid__QlFmz {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4.8rem;
}
@media (min-width: 62em) {
.protectYourIp_contentGrid__QlFmz {
    grid-template-columns: 350px 1fr;
    align-items: center;
  }
}
.protectYourIp_illustration__qRA_l {
  width: 22.4rem;
  height: auto;
  max-width: 100%;
}
@media (min-width: 62em) {
.protectYourIp_illustration__qRA_l {
    width: 350px;
  }
}
.protectYourIp_statusText__0Lhln {
  justify-content: center;
}
@media (min-width: 62em) {
.protectYourIp_statusText__0Lhln {
    justify-content: flex-start;
  }
}
.protectYourIp_statusIcon__bE8wy {
  display: none;
}
@media (min-width: 62em) {
.protectYourIp_statusIcon__bE8wy {
    display: block;
  }
}
.protectYourIp_ipValue__f5wPg {
  word-break: break-word;
  overflow-wrap: anywhere;
}
.protectYourIp_ipv6__iYamI {
  white-space: nowrap;
  font-size: clamp(1rem, 3vw, 3.2rem)!important;
}
@media (min-width: 62em) {
.protectYourIp_ipv6__iYamI {
    font-size: clamp(1rem, 3vw, 2.2rem)!important;
  }
}
.protectYourIp_ipv4__0r0DD {
  font-size: 3rem!important;
}
.CTA_cta__aBbc_.CTA_cta__aBbc_ {
  width: 100%;
  text-align: center;
}
@media (min-width: 48em) and (min-height: 36em) {
.CTA_cta__aBbc_.CTA_cta__aBbc_ {
    width: auto;
  }
}
.StyledMarkdown_markdown__wk8Gi {
  width: 100%;
  line-height: 2.7rem;
}
.StyledMarkdown_markdown__wk8Gi * {
  margin-top: 0;
  margin-bottom: 0;
}
.StyledMarkdown_markdown__wk8Gi *+* {
  margin-top: 1.6rem;
}
.StyledMarkdown_markdown__wk8Gi ul>li+li {
  margin-top: .4rem;
}
.StyledMarkdown_markdown__wk8Gi ol li: : marker {
  font-weight: 700;
  color: var(--mantine-color-white);
}
.StyledMarkdown_markdown__wk8Gi ol .StyledMarkdown_imageWrapper__L1pmR {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
.StyledMarkdown_markdown__wk8Gi u {
  color: #55ff8acc;
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: from-font;
  cursor: pointer;
}
.StyledMarkdown_imageWrapper__L1pmR {
  background-color: color-mix(in srgb, var(--mantine-color-white), transparent 95%);
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.thinkbefore_buttonGroup__QbG8m button span {
  font-weight: 500;
}
@media (max-width: 48em) {
.thinkbefore_buttonGroup__QbG8m button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.thinkbefore_text__ov1QQ {
  text-align: center;
}
.thinkbefore_questions__Wr8YM {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
}
.FilterPopover_dropdown__ZRMNO {
  background-color: var(--mantine-color-mainBodyBackground);
  border: .1rem solid color-mix(in srgb, var(--mantine-color-white), transparent 90%);
  border-radius: .8rem;
}
.SearchSection_section__hwZ9Q {
  color: white;
}
.SearchSection_input__AmeHJ {
  font-size: 1.4rem;
}
@media (min-width: 48em) and (min-height: 36em) {
.SearchSection_input__AmeHJ {
    font-size: 1.6rem;
  }
}
.SearchSection_section__hwZ9Q svg path {
  fill: white;
  fill-opacity: .5;
}
.Callout_callout__30_GH {
  position: relative;
  border-radius: 1rem;
  padding: 4.8rem;
  background-color: color-mix(in srgb, var(--mantine-color-white), transparent 95%);
}
@media (max-width: 62em) {
.Callout_callout__30_GH {
    padding: 3rem 2rem;
  }
}
@media (max-width: 48em) {
.Callout_callout__30_GH {
    padding: 3rem 1.5rem;
  }
}
.Callout_callout__30_GH: before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1rem;
  padding: 1px;
  background: linear-gradient(#ffffff80 50%, #1d1d1d);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
}
.Callout_styledMarkdown__p6QYy p {
  color: white;
}
.BestFreeVPNContainer_outerContainer__4ilTG {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 124.8rem;
  position: relative;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  z-index: 1;
}
@media (min-width: 48em) and (min-height: 36em) {
.BestFreeVPNContainer_outerContainer__4ilTG {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}
.BestFreeVPNContainer_borderContainer__bev48 {
  position: relative;
  width: 100%;
  border-radius: 1.6rem;
  overflow: hidden;
  height: 49.5rem;
}
.BestFreeVPNContainer_borderContainer__bev48: before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1.6rem;
  padding: .2rem;
  background: linear-gradient(0deg, #1d1d1d .1%, rgba(0, 110, 127, .96) 100.1%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
.FAQ_container__4hsdU {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.FAQ_itemWrapper__DZ96C {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .8rem;
  text-align: start;
}
.FAQ_itemWrapper__DZ96C: hover {
  cursor: pointer;
}
.FAQ_details__Aa_hj {
  border-radius: 1.6rem;
  min-width: 100%;
  padding: 2.4rem;
}
.FAQ_details__Aa_hj[open] {
  background-color: color-mix(in srgb, var(--mantine-color-white), transparent 95%);
}
.FAQ_details__Aa_hj[open] .FAQ_iconOpen__er75m {
  display: none;
}
.FAQ_details__Aa_hj[open] .FAQ_question__h6qwj {
  color: var(--mantine-color-white);
}
.FAQ_details__Aa_hj: not([open]) .FAQ_iconClose__RXxkg {
  display: none;
}
.FAQ_details__Aa_hj: not([open]) .FAQ_question__h6qwj {
  color: color-mix(in srgb, var(--mantine-color-white), transparent 19.999999999999996%);
}
.FAQ_summary__Gv5mI {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
}
.FAQ_summary__Gv5mI: : -webkit-details-marker {
  display: none;
}
.FAQ_question__h6qwj {
  transition: all .1s ease-in-out;
  color: color-mix(in srgb, var(--mantine-color-white), transparent 19.999999999999996%);
}
.FAQ_iconClose__RXxkg, .FAQ_iconOpen__er75m {
  flex-shrink: 0;
}
.AllYourDevicesContainer_middleWrapper__6g1_B {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
@media (min-width: 48em) and (min-height: 36em) {
.AllYourDevicesContainer_middleWrapper__6g1_B {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}
.OSSection_platformLink__qB1o1 {
  text-decoration: none;
  color: inherit;
}
.OSSection_osCard__Ww8XY: after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #505f63;
  pointer-events: none;
}
.OSSection_osCard__Ww8XY: hover {
  cursor: pointer;
}
.OSSection_osCard__Ww8XY: hover span {
  text-decoration: underline;
}
.BestFreeVPN_planetLeft__siUEe, .BestFreeVPN_planetRight__fsoMo, .BestFreeVPN_starLeft__6rSem, .BestFreeVPN_starRight__gb_kE {
  display: none;
}
@media (min-width: 48em) and (min-height: 36em) {
.BestFreeVPN_planetLeft__siUEe, .BestFreeVPN_planetRight__fsoMo, .BestFreeVPN_starLeft__6rSem, .BestFreeVPN_starRight__gb_kE {
    display: block;
  }
.BestFreeVPN_planetLeft__siUEe, .BestFreeVPN_starLeft__6rSem {
    left: 20%;
  }
.BestFreeVPN_planetRight__fsoMo, .BestFreeVPN_starRight__gb_kE {
    right: 20%;
  }
}
@media (min-width: 70em) and (min-height: 36em) {
.BestFreeVPN_starLeft__6rSem {
    left: 25%;
  }
.BestFreeVPN_starRight__gb_kE {
    right: 25%;
  }
}
.BestFreeVPN_title__lVbpX {
  letter-spacing: -.256rem;
  text-align: center;
}
.BestFreeVPN_title__lVbpX em {
  font-family: var(--font-instrument-serif);
  font-style: italic;
  letter-spacing: -.128rem;
  font-weight: 400;
}
@media (min-width: 48em) and (min-height: 36em) {
.BestFreeVPN_title__lVbpX em {
    -webkit-text-stroke: .04rem;
  }
}
.BestFreeVPN_ctaWrapper__xJ9rx {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
@media (min-width: 48em) and (min-height: 36em) {
.BestFreeVPN_ctaWrapper__xJ9rx {
    padding-left: 0;
    padding-right: 0;
  }
}
.HeaderHeroBackgroundContainer_container__5eYfx {
  margin-top: calc(-1 * var(--header-height));
  padding-top: calc(var(--header-height) + 3.2rem);
  padding-bottom: 3.2rem;
}
@media (min-width: 48em) and (min-height: 36em) {
.HeaderHeroBackgroundContainer_container__5eYfx {
    padding-top: calc(var(--header-height) + 8rem);
    padding-bottom: 5.6rem;
  }
}
.WhatIsMyIpImpl_centeredTextHero__w7CiD [class*=contentWrapper] {
  align-items: center;
}
.WhatIsMyIpImpl_centeredTextHero__w7CiD h1, .WhatIsMyIpImpl_centeredTextHero__w7CiD p {
  text-align: center;
}
.GangCard_card__GbkyT {
  background-color: color-mix(in srgb, var(--mantine-color-white), transparent 95%);
  border-radius: 8px;
  border: 1px solid color-mix(in srgb, var(--mantine-color-white), transparent 90%);
  padding: 2.4rem;
  gap: 2.4rem;
  display: flex;
  flex-direction: column;
}
.GangCard_header__IFlsw {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.GangCard_iconWrapper__DjUOT {
  width: 4rem;
  height: 4rem;
  position: relative;
  flex-shrink: 0;
  max-width: 40px;
  max-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.GangCard_name__i8x_z {
  font-size: 2rem;
  color: var(--mantine-color-white);
  font-weight: 700;
  line-height: 3.2rem;
  margin: 0;
}
.GangCard_nameLink__7GHd7 {
  text-decoration: none;
  color: inherit;
}
.GangCard_nameLink__7GHd7: hover .GangCard_name__i8x_z {
  text-decoration: underline;
}
.GangCard_benefitBox__jw8G_ {
  padding-left: 1.6rem;
  padding-top: .8rem;
  padding-bottom: .8rem;
  border-left: 1.6px solid var(--mantine-color-white);
}
.GangCard_benefit__Z1VJw {
  font-weight: 600;
}
.GangCard_benefit__Z1VJw, .GangCard_description__u39rg {
  color: var(--mantine-color-white);
  margin: 0;
  text-align: left;
}
.GangCard_description__u39rg {
  flex-grow: 1;
}
.GangCard_errorBox__q7PmN {
  display: flex;
  align-items: center;
  gap: .8rem;
  padding: 1.2rem;
  height: 5.4rem;
  background-color: color-mix(in srgb, var(--mantine-color-red), transparent 90%);
  border-radius: 4px;
  border: 1px solid color-mix(in srgb, var(--mantine-color-red), transparent 70%);
}
.GangCard_errorIcon__y81LM, .GangCard_errorText__aCVBS {
  color: var(--mantine-color-alertRed);
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 700;
}
.GangCard_codeBox__FV7xy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
  background-color: color-mix(in srgb, var(--mantine-color-white), transparent 95%);
  border-radius: 4px;
  border: 1px solid color-mix(in srgb, var(--mantine-color-white), transparent 90%);
}
.GangCard_code__IxsoZ {
  color: var(--mantine-color-white);
  font-family: monospace;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
}
.GangCard_copyButton__kIqfL {
  cursor: pointer;
}
.GangCard_copyButtonCopied__b4pNE {
  color: var(--mantine-color-green);
}
.GangCard_copyButtonDefault__O9vgt {
  color: var(--mantine-color-white);
}
.GangCard_copyIcon__jT2Tl {
  filter: none;
}
.GangCard_copyIconCopied__9I_m1 {
  filter: brightness(0) saturate(100%) invert(64%) sepia(98%) saturate(459%) hue-rotate(76deg) brightness(91%) contrast(86%);
}
.GangCard_activateLink__oItjd {
  color: var(--mantine-color-white);
  text-decoration: underline;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  height: 4.4rem;
  line-height: 4.4rem;
}
.GangCard_button__polen {
  flex-shrink: 0;
  width: 100%;
}
.GangCard_upgradeLink__6snNE {
  margin-top: 1.6rem;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: .8rem;
}
.GangCard_upgradeLink__6snNE: hover svg path {
  stroke: black;
}
.GangCardsGrid_container__pbIrB, .GangCardsGrid_grid__XMcZv {
  width: 100%;
}
.GangCardsGrid_errorContainer__zT6dq, .GangCardsGrid_loadingContainer__aFqiZ {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6.4rem;
  min-height: 20rem;
}
.GangCardsGrid_errorText__C9mHG {
  color: var(--mantine-color-white);
  font-size: 1.6rem;
}
.GangCardsGrid_lastCardContainer__sjgqc {
  display: flex;
  justify-content: center;
  margin-top: 2.4rem;
}
.GangCardsGrid_lastCardWrapper__TGEt4 {
  width: 100%;
}
@media (min-width: 48em) {
.GangCardsGrid_lastCardWrapper__TGEt4 {
    width: calc(50% - 1.2rem);
  }
}
